.adminNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  padding: 1em;
  background-color: var(--color-secondary);
  font-family: var(--title-font);
  color: var(--color-light);
}

.link {
  padding: 1em;
  border: dashed 2px var(--color-secondary);
  &:hover {
    border: dashed 2px var(--color-light);
  }
  &:active {
    border: dashed 2px var(--color-accent);
  }
}
