.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: 2em 0em 0.2em 0em;
  padding: 0.2em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0.05em 0.05em 0.05em 0.05em grey;

  @media (767px <= width <=991px) {
    width: 30em;
  }

  @media (width > 990px) {
    width: 30em;
  }
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchBar {
  height: 2em;
  width: 100%;
}

.searchButton {
  width: 2em;
}

.userList {
  margin: 2em 1em 2em 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
