.main {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (767px <= width <=991px) {
    height: 35em;

    flex-direction: row;
  }

  @media (width > 990px) {
    flex-direction: row;
  }
}

.logos {
  @media (767px <= width <=991px) {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
  }

  @media (width > 990px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
  }
}

.eatlogo {
  width: 12em;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.icon {
  height: 2.5em;
}

.footertext {
  display: flex;
}

.contact {
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}

.mention {
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}

.adress {
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}

.copyright {
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}
