.footerContainer {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light);
  font-family: var(--text-font);
  padding: 1em;
  @media (width > 990px) {
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }
}

.eatlogo {
  width: 12em;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3em;
  padding-bottom: 2em;

  @media (767px <= width <=991px) {
    gap: 2em;
  }

  @media (width > 990px) {
    width: 16em;
  }
}

.socialIcon,
.gitHubIcon {
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.fakeContacts {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.textInfo {
  font-size: 0.9em;
  padding: 2em;
  text-align: center;
}

.mention {
  max-width: 20em;
  min-width: 20em;
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}

.credits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.creditsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.copyright {
  text-align: center;
  padding-bottom: 1em;
  font-size: 0.7em;
}

.socialIcon:hover,
.creditsList:hover,
.link:hover {
  opacity: 0.8;
  color: var(--color-accent);
  transform: translateY(1px);
  text-decoration: underline;
}

.socialIcon:hover {
  background-color: var(--color-accent);
  border-radius: 10px;
}

.gitHubIcon:hover {
  background-color: var(--color-accent);
  border-radius: 25px;
}
