.main {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eatlogo {
  width: 12em;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.icon {
  height: 2.5em;
}

.contact {
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}

.mention {
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}

.adress {
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}

.copyright {
  text-align: center;
  margin: 2em;
  font-family: var(--text-font);
  font-size: 0.8em;
  color: var(--color-light);
}
