.recipeFrame {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.recipeList {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0.5em;
  margin: 0.5em;
  background-color: var(--color-primary);
}

.deleteButton {
  color: var(--color-accent);
  &:hover {
    text-decoration: underline;
  }
}
