.main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--text-font);
  @media screen and (min-width: 768px) {
    max-width: 75%;
  }
}

.container {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 10px 0 var(--color-hint);
  padding: 1em;
  margin: 1em;

  @media screen and (min-width: 990px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title  picture"
      "summary picture"
      "prepTitle picture"
      "prep author"
      ". date"
      "cookTitle ."
      "cook ."
      "ingredientsTitle stepsTitle"
      "ingredients steps";
  }
}

.recipeTitle {
  font-family: var(--title-font);
  text-align: center;
  font-size: 1.7em;
  padding: 1em;
  grid-area: title;
  @media screen and (min-width: 768px) {
    font-size: 2.2em;
    padding: 0.5em;
  }
}

.recipeSummary {
  font-size: 0.9em;
  word-wrap: break-word;
  border: dashed 2px var(--color-tertiary);
  padding: 1em;
  grid-area: summary;
  @media screen and (min-width: 768px) {
    font-size: 1.1em;
  }
}

.recipePicture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary);
  width: 100%;
  height: 15em;
  margin: 1em;
  grid-area: picture;
  @media screen and (min-width: 768px) {
    justify-self: right;
    width: 90%;
    height: 25em;
  }
}

.author,
.date {
  width: 100%;
  align-items: right;
  font-size: 0.8em;
  text-align: right;
  grid-area: author;
  @media screen and (min-width: 768px) {
    font-size: 1em;
  }
}

.date {
  grid-area: date;
}

.authorLink {
  color: var(--color-accent);
}

.prepTitle,
.cookTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font);
  color: var(--color-secondary);
  padding-top: 1em;
  margin-top: 1em;
  width: 100%;
  @media screen and (min-width: 768px) {
    font-size: 1.3em;
  }
}

.prepTitle {
  border-top: dashed 2px var(--color-tertiary);
  grid-area: prepTitle;
}

.cookTitle {
  grid-area: cookTitle;
}

.cookTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: dashed 2px var(--color-tertiary);
  width: 100%;
  grid-area: cook;
}

.prepTime {
  grid-area: prep;
  justify-self: center;
}

.ingredientsTitle {
  width: 100%;
  text-align: left;
  padding: 1em 0 1em 0;
  font-family: var(--title-font);
  color: var(--color-secondary);
  grid-area: ingredientsTitle;
  @media screen and (min-width: 768px) {
    font-size: 1.3em;
  }
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  word-break: keep-all;
  width: 100%;
  grid-area: ingredients;
  @media screen and (min-width: 768px) {
    justify-content: start;
    height: 100%;
    font-size: 1.1em;
  }
}

.ingredientsList {
  margin-left: 2em;
  @media screen and (min-width: 768px) {
    margin-left: 1em;
  }
}

.stepsTitle {
  width: 100%;
  text-align: left;
  padding: 1em 0 1em 0;
  font-family: var(--title-font);
  color: var(--color-secondary);
  grid-area: stepsTitle;
  @media screen and (min-width: 768px) {
    font-size: 1.3em;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  word-break: keep-all;
  margin-bottom: 2em;
  grid-area: steps;
  @media screen and (min-width: 768px) {
    font-size: 1.1em;
  }
}

.stepList {
  list-style: decimal;
  margin-left: 2em;
}
