.overlay {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20em;
}

.modal {
  background-color: var(--color-primary);
  padding: 2em;
  width: 400px;
  max-width: 90%;
  box-shadow: 0.1em 0.2em 0.1em 0 var(--color-hint);
}

.modalContent {
  font-family: var(--text-font);
  text-align: center;
  font-size: 1.2em;
  word-break: keep-all;
}

.message {
  padding-bottom: 1em;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5em;
}

.confirmButton,
.cancelButton {
  width: 7em;
  padding: 0.7em 1em 0.7em 1em;
  cursor: pointer;
  border-radius: 1em;
}

.confirmButton {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.cancelButton {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.confirmButton:hover,
.cancelButton:hover {
  opacity: 0.8;
  transform: translateY(1px);
}
